<div class="fixed w-[175px] bg-black h-full top-0">
  <div class="w-full">
    <img src="logo.png" alt="Logo" class="max-w-full" />
  </div>
  <div>
    <ul class="m-0 p-0">
      <li
        *ngFor="let item of menuItems; let last = last"
        class="block list-none w-full"
      >
        <a
          class="text-white py-[10px] px-[15px] flex items-center w-full hover:bg-blue-700"
          [ngClass]="{ 'text-blue-500 ': last }"
          [routerLink]="item.route"
        >
          <fa-icon
            [icon]="item.icon"
            class="mr-[8px] mt-0 float-left"
          ></fa-icon>
          {{ item.label }}
        </a>
      </li>
    </ul>
  </div>
</div>
