<div class="fixed w-[175px] bg-[#0a4858] h-full top-0">
  <div class="w-full flex justify-center items-center py-4 bg-gray-900">
    <img
      src="ሳተናው_ሎጎ.png"
      alt="Logo"
      class="max-w-full h-auto rounded-full shadow-lg"
    />
  </div>
  <div>
    <ul class="m-0 p-0">
      <li
        *ngFor="let item of menuItems; let last = last"
        class="block list-none w-full"
      >
        <a
          class="text-white py-[10px] px-[15px] flex items-center w-full hover:bg-blue-700"
          [ngClass]="{ 'text-blue-700': last }"
          [routerLink]="item.route"
        >
          <i [ngClass]="item.icon" class="mr-[8px] mt-0 float-left"></i>
          {{ item.label }}
        </a>
      </li>
    </ul>
  </div>
</div>
